.label_nav{
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 26px;
    border-style: solid;
    border-color: greenyellow;
    color:greenyellow;
    font-family: 'Noto Sans', sans-serif;
    border-width: 2px;

}

.imput_nav{
    height: 26px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}

.select_nav{
    height: 28px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}

.content_search{
    height: 30px;
    margin: 33.33px;
}

.content_filtros{
    height: 30px;
    margin: 33.33px;
}

.button_nav{
    width: 100px;
    height: 40px;
    margin: 30px;
    border-style: solid;
    border-color: greenyellow;
    color:greenyellow;
    font-family: 'Noto Sans', sans-serif;
    background:none;
    cursor: pointer;
    transition-duration: 0.8s;
}

.button_nav_home{
    height: 30px;
    width: 70px;
    font-size: 15px;
    margin-left: 20px;
    border-style: solid;
    border-color: greenyellow;
    color:greenyellow;
    font-family: 'Noto Sans', sans-serif;
    border-width: 2px;
    background:none;
    cursor: pointer;
    transition-duration: 0.8s;
}

.button_nav_home:hover{
    transition-duration: 0.4s;
    transform: scale(1.1);
    box-shadow: 0 0 15px greenyellow, 0 0 15px greenyellow, 0 0 15px greenyellow;
    font-weight: bold;
}

.button2_nav{
    border-style: solid;
    border-color: greenyellow;
    color:greenyellow;
    font-family: 'Noto Sans', sans-serif;
    border-width: 2px;
    background:none;
    cursor: pointer;
    transition-duration: 0.8s;
}

.button2_nav:hover{
    transition-duration: 0.4s;
    transform: scale(1.1);
    box-shadow: 0 0 15px greenyellow, 0 0 15px greenyellow, 0 0 15px greenyellow;
    font-weight: bold;
}


.button_nav:hover{
    transition-duration: 0.4s;
    transform: scale(1.1);
    box-shadow: 0 0 15px greenyellow, 0 0 15px greenyellow, 0 0 15px greenyellow;
    font-weight: bold;
}

.content_nav{
    height: 100px;
    background-image:url('./fondo-nav.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-content: center;
}